.bodyone {
    background-image: url("f1repeatingbackground.jpg");
    color: red;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 10px;
    border-color: black;
}

div, p {
    display:inline-block;
    background-color: rgb(252, 2, 2);
    color: white;
    line-height: 10px;

}

.link1 {
    color:rgb(252, 2, 2);
    font-size: 50px;
}

.leclerc {
    width: 200px;
    height: 200px;
}
ol {
    font-size: large;
    padding-left: 200px;
    text-align: center;
    list-style-position: inside;
}
.secondimage{
    width: 901.5px;
    height: 375px;
    display: inline-block;
}
.firstimage{
    width: 901.5px;
    height: 375px;
    display: inline-block;
}

img {
    display: inline-block;
}

.bodytwo {
    color:rgb(2, 135, 196)
}
table {
    
    background-color:rgb(6, 232, 59) ;
    margin:0 auto 1em auto;
    box-shadow: 7px 7px 4px rgb(0, 0, 0) ;
}
.bodyone, .bodytwo {
    cursor: url("icons8-select-cursor-24.png"), default;
}